@import url("https://fonts.googleapis.com/css?family=Lato|Raleway|Rouge+Script");

.has-vertically-aligned-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

html {
        font-family: sans-serif;
        webkit-text-size-adjust: 100%;
        ms-text-size-adjust: 100%;  width: 100%;
  min-height: 100%;
  overflow-x: hidden;

}

html, body {
  max-width: 100%;
  overflow-x: hidden;

}


.header-wrapper {
  padding-bottom: 30px;
}

.navbar-item {
  line-height: 38px;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1rem;
}

.navbar-item.is-active{
  border-bottom: 2px solid #95DAC1;
}

.a.navbar-item{
  font-color: #95DAC1;
}

/*
.hero {
  background-image: url('homepage.svg');
  background-size: cover;
  font-family: 'Raleway', sans-serif;
}
*/

.hero {
  background-image: url('asstha_shashank.jpeg');
  background: linear-gradient(rgba(150, 110, 109, 0.65), rgba(13, 110, 109, 0.6)), rgba(0, 0, 0, 0.5) url('asstha_shashank.jpeg') no-repeat;
  background-size: cover;
}


.hero .hero-foot {
  height: 50px;
  background: white;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.082);
}

@media (max-width: 599px) {
  .hero .hero-foot {
    display: none;
  }
}

.hero .hero-foot .hero-foot--wrapper {
  margin: 7px auto;
  height: 50px;
}

.hero .hero-foot .hero-foot--wrapper .hero-menu-desktop {
  line-height: 38px;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1rem;
}
#menu ul{
  list-style: none;
}
#menu li{
  display: inline;
}

.hero .hero-foot .hero-foot--wrapper .hero-menu-desktop ul li {
  display: inline-block;
  padding-right: 15px;
  padding-left: 15px;
}


.space40px{
  height: 40px;
}

.space24px{
  height: 24px;
}

.main-content {
  color: #000;
  font-family: 'Raleway', sans-serif;
}

.main-content .section-dark {
  background-color: #E8F6EF;
  padding: 80px 40px;
}

.main-content .section-darker {
  background-color: #D4ECDD;
  padding: 80px 40px;
}

@media (max-width: 599px) {
  .main-content .section-dark.foto-foto {
    padding: 75px 20px;
  }
}

.section-map {
  padding: 0 0 0 0 ;
}

.main-content .section-light {
  padding: 80px 40px;
}

.main-content .section-light.regular-section {
  padding-bottom: 80px;
}

.main-content .section-light.regular-section .is-larger {
  font-size: 1rem;
}

@media (max-width: 599px) {
  .main-content .section-light.regular-section .about-links {
    text-align: center;
  }
}

.main-content .section-light.skills {
  padding: 100px;
}

@media (max-width: 599px) {
  .main-content .section-light.skills {
    padding: 50px 20px 20px;
  }
}

.main-content .section-color.pertanyaan {
  padding: 100px;
  background-color: #95DAC1;
  color: white;
}

/*** font style start ***/

.main-content .section-title {
  font-weight: 900;
  color: #22577A;
  font-size: 1.5rem;
  /*padding-bottom: 60px;*/
}

.bodytext {
  font-size: 18px;
  color: #22577A;

}
.titleS {
  font-size: 1.5rem;
  color: #22577A;
}
.sloganText {
  font-size: 15px;
  color: #22577A;
}
.coupleNameText {
  font-size: 24px;
  color: #E05D5D;
}

.contactIcon {
  color: #22577A;
  padding: 4px;
}


.firmName {
  font-size: 18px;
  color: #22577A;
  padding: 4px;
}

.hero .title {
  font-weight: 500;
  font-size: 3rem;
  color: #22577A;
}

.hero .subtitle-copy {
  color: #22577A;
  font-size: 1.3rem;
}


.hero .subtitle {
  padding-top: 3px;
  padding-bottom: 35px;
  font-size: 1.3rem;
  font-weight: 700;
  color: #E05D5D;

}

.footer p {
  color: #22577A;
  font-weight: 500;
  font-size: 10pt;
  display: inline-block;
  vertical-align: middle;
}

/*** font style end ***/

.has-vertically-align {
  vertical-align: middle;
}

.main-content .no-padding-top {
  padding-top: 0;
}
.fh5co-contact-info ul li.phone:before {
  font-size: 23px;
  padding-top: 10px;
  content: "\e9f4";
}


.footer {
  bottom: 0;
  width: 100vw;
  padding: 10px 10px 10px 10px;
  line-height: 25px;
  text-align: center;
  vertical-align: middle;
  background: #CDF0EA;
  border-top: 1px solid #ddd;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  color: whitesmoke;
}


.panel-footer {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.fh5co-social-icons {
  margin: 0;
  padding: 0;
}
.fh5co-social-icons li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.fh5co-social-icons li a {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  color: #22577A;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.fh5co-social-icons li a i {
  font-size: 20px;
}

.divider {
  margin: 40px 25px;
  display: inline-block;
  max-height: 60px;
  vertical-align: middle;
}

#toTop {
  height: 50px;
  width: 50px;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #95DAC1;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  font-size: 2rem;
  box-shadow: 0 5px 20px rgba(14, 25, 80, 0.3);
}

#toTop a {
  color: white;
}

#toTop:hover {
  background-color: #B8DFD8;
}


::-webkit-scrollbar {
  width: 5px;
  background-color: #E8F6EF;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px #B8DFD8;
  -webkit-box-shadow: inset 0 0 6px #B8DFD8;
  background-color: #95DAC1;
}


body.preloader-site {
  overflow: hidden;
}

.preloader-wrapper {
  height: 100%;
  width: 100%;
  background: #D4ECDD;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
}


.btn-cta:hover {
  color:white;
  background-color: #95DAC1;
  font-size: 1.2rem;
  border-radius: 10px;
  border: 2px solid #95DAC1;
  width:  210px;
  height: 65px;
  align-items: center;
  margin: 1rem;
}

.btn-cta {
  background-color: #95DAC1;
  width:  210px;
  height: 65px;
  color: white;
  font-size: 1.2rem;
  border: 2px solid #95DAC1;
  border-radius: 10px;
  align-items: center;
  margin: 1rem;
}

.fa-copy {
  margin-right: 5px;
}
.white
{color:ghostwhite}


.dusty-pink {color: #D4ECDD}
.dusty-pink-lighter {color: #EDD2D1}
.dusty-pink-lightest {color: #E8F6EF}
.dusty-pink-darker {color: #B8DFD8}
.dusty-pink-darkest {color: #95DAC1}

.tile {
  border-radius: 10px;
}


.section-light {
  background-image: url(../image/divider-flowers-leaves.png);
  background-position: bottom -30px center;
  background-repeat: no-repeat;
  background-size: initial;
}


.card {
  transform-style: preserve-3d;
  min-height: 30vh;
  width: 100%;
  border-radius: 30px;
  padding-top: 1rem;
  padding-bottom: 2rem;
  border: 2px solid #D4ECDD;
  background-color: #B8DFD8;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0 0 50px rgba(0, 0, 0, 0.2);
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
  align-content: center;
}

.grid-item {
  text-align: center;
}


.section-lighter {
  background-position: bottom -30px center;
  background-repeat: no-repeat;
  background-size: initial;
}

.couple-wrap {
  width: 90%;
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width: 768px) {
  .couple-wrap {
    width: 100%;
  }
}

.heart {
  position: absolute;
  top: 4em;
  left: 0;
  right: 0;
  z-index: 99;
  animation: pulse 1s ease infinite;
}
.heart i {
  font-size: 20px;
  background: #fff;
  padding: 20px;
  color: #E05D5D;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  .heart {
    display: none;
  }
}

.couple-half {
  width: 50%;
  float: left;
}
@media screen and (max-width: 768px) {
  .couple-half {
    width: 100%;
  }
}
.couple-half h3 {
  color: #22577A;
  font-size: 2em;
}
.couple-half .groom, .couple-half .bride {
  float: left;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
.couple-half .groom img, .couple-half .bride img {
  width: 150px;
  height: 150px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
@media screen and (max-width: 480px) {
  .couple-half .groom, .couple-half .bride {
    width: 100%;
    height: 200px;
    font-size: 1em;

  }
  .couple-half .groom img, .couple-half .bride img {
    width: 250px;
    height: 250px;
    margin: 0 auto;

  }
}
.couple-half .groom {
  float: right;
  margin-right: 5px;
}
.couple-half .bride {
  float: left;
  margin-left: 5px;

}
.couple-half .desc-groom {
  padding-right: 180px;
  text-align: right;
  font-size: 1em;

}
.couple-half .desc-bride {
  padding-left: 180px;
  text-align: left;
  font-size: 1em;

}

@media screen and (max-width: 480px) {
  .couple-half .groom, .couple-half .bride {
    margin-left: 0;
    margin-right: 0;
  }
  .couple-half .desc-groom {
    padding-right: 0;
    text-align: center;
    font-size: 1em;

  }
  .couple-half .desc-bride {
    padding-left: 0;
    text-align: center;
    font-size: 1em;

  }
}

